html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

sub, 
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

textarea {
	 overflow: auto;
}


/* Normalized Styles
------------------------------------------------------------------------------*/

body {
	font: 16px/30px Arial, Helvetica, sans-serif;
	color: #6f7784;
	background: #fff;
}

input, textarea, select, button {
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:focus, a:active {
	text-decoration: none;
	color: #008bc4;
}

a:hover {
	text-decoration: underline;
}


/* Container
------------------------------------------------------------------------------*/

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

/* Header
------------------------------------------------------------------------------*/

#header {
	padding: 8px 0 20px 0;
	z-index: 99;
	position: relative;
}

#logo {
	width: 121px;
	height: 134px;
	display: block;
	cursor: pointer;
	margin: 0 auto -82px;
	text-indent: -9999em;
	background: url(../images/logo3.png) no-repeat;
	position: relative;
	z-index: 3;
}


/* Navigation
------------------------------------------------------------------------------*/

#menu {
	text-align: center;
}

#menu ul {
	padding: 0 80px;
	display: inline-block;
}

#menu li {
	float: left;
	padding: 0 24px;
}

#menu a {
	font-size: 21px;
	line-height: 28px;
	color: #8c929c;
	font-family: 'BebasNeue';
	display: block;
}

#menu a:hover,
#menu .current a {
	color: #008bc4;
	text-decoration: underline;
}


/* main-content
------------------------------------------------------------------------------*/

.content {
	overflow: hidden;
	padding-bottom: 10px;
}

.main-content {
	float: left;
	width: 58.333%;
	padding: 0 15px;
}

.divider {
	background: #2c4167 url(../images/bg_white_arrow.png) no-repeat 50% 0;
	height: 80px;
	position: relative;
	margin-top: 3px;
	margin-bottom: 37px;
}

.divider:after {
	background: url(../images/bg_white.png) no-repeat 50% 0;
	height: 30px;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
}

h1.single{
	text-align: center;
	margin: 0 15px 0 15px;
}

/*-------------------------Customers  ------------------------*/
/* USER LIST TABLE */
.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
	margin : center;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	background: #f5f5f5;
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	border-bottom: 2px solid #C2C2C2;
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 5px;
	font-weight: normal;
}
.table thead > tr > th > a span {
	color: #344644;
}
.table thead > tr > th > a span:after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-left: 5px;
	font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
	content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
	content: "\f0de";
}
.table thead > tr > th > a:hover span {
	text-decoration: none;
	color: #2bb6a3;
	border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
	display: block;
	font-size: 0.75em;
	text-align: center;
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: #969696;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #2aa493;
}
.table a.table-link.danger {
	color: #fe635f;
}
.table a.table-link.danger:hover {
	color: #dd504c;
}

.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: #f6f6f6;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.table-products .price {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .price > i {
	color: #8dc859;
}
.table-products .warranty {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .warranty > i {
	color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
	background-color: #9daccb;
	color: #262525;
}
.table tbody > tr.table-line-twitter > td {
	background-color: #9fccff;
	color: #262525;
}
.table tbody > tr.table-line-plus > td {
	background-color: #eea59c;
	color: #262525;
}
.table-stats .status-social-icon {
	font-size: 1.9em;
	vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
	color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
	color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
	color: #a75d54;
}


/* sidebar
------------------------------------------------------------------------------*/

#sidebar {
	width: 33.3%;
	float: right;
	padding: 0 15px;
}

#sidebar h2 {
	text-align: left;
	padding-bottom: 27px;
}

#sidebar .widget {
	padding-bottom: 85px;
}

#sidebar .sidemenu {
	padding-top: 9px;
}

#sidebar .sidemenu a {
	border: 1px solid #d7dbe1;
	border-radius: 4px;
	display: block;
	margin-bottom: 8px;
	height: 45px;
	line-height: 43px;
	padding: 0 0 0 15px;
	font-family: 'BebasNeue';
	color: #7e8798;
	font-size: 24px;
	position: relative;
}

.mac #sidebar .sidemenu a {
	padding: 3px 0 0 15px;
}

#sidebar .sidemenu a:hover:after,
#sidebar .sidemenu .current a:after {
	position: absolute;
	content: "";
	left: -8px;
	top: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 7px 7.5px 0;
	border-color: transparent #008cc4 transparent transparent;
}

#sidebar .sidemenu .current a,
#sidebar .sidemenu a:hover {
	border: 1px solid #008bc4;
	color: #fff;
	background: #008bc4;
	text-decoration: none;
}

#sidebar .sidemenu .current a .nr,
#sidebar .sidemenu a:hover .nr {
	background: #2c4167;
}

#sidebar .sidemenu a .nr {
	height: 27px;
	width: 47px;
	display: block;
	border-radius: 3px;
	float: right;
	background: #e7e8ec;
	line-height: 27px;
	font-size: 15px;
	margin: 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.mac #sidebar .sidemenu a .nr {
	margin: 5px 8px 8px 8px;
}

#sidebar .calendar .head {
	overflow: hidden;
	height: 45px;
	line-height: 43px;
	border-radius: 4px;
	border: 1px solid #d8dbe1;
	text-align: center;
	font-size: 24px;
	font-family: 'BebasNeue';
	padding: 0 15px;
	margin-bottom: 7px;
}

#sidebar .calendar .head .next,
#sidebar .calendar .head .prev {
	background: url(../images/bg_arrow_nav.png) no-repeat;
	height: 17px;
	width: 26px;
	display: block;
	float: left;
	margin: 13px 0 -30px 0;
}

#sidebar .calendar .head .next {
	float: right;
	background-position: -26px 0;
}

.mac #sidebar .calendar .head h4{
	padding-top: 4px;
}

#sidebar .calendar .table {
	margin: 0 -3px;
}

#sidebar .calendar table {
	width: 100%;
}

#sidebar .calendar table tr {
}

#sidebar .calendar th {
	font-family: 'BebasNeue';
	font-size: 18px;
	line-height: 24px;
	color: #a8adb7;
	text-align: center;
	padding-bottom: 3px;
}

#sidebar .calendar td {
	font-family: 'BebasNeue';
	font-size: 24px;
	line-height: 46px;
	color: #7e8798;
	font-weight: bold;
	text-align: center;
}

#sidebar .calendar td.disable {
	color: #c5c9d1;
}

#sidebar .calendar td.archival>div {
	background: #e6e8ec;
	border-color: #e6e8ec;
	border: 1px solid #e6e8ec;
}

#sidebar .calendar td.upcoming>div {
	background: #008bc4;
	color: #fff;
	border: 1px solid #008bc4;
}

#sidebar .calendar td.upcoming>div.hover {
	background: #2c4167;
	border: 1px solid #2c4167;
}

#sidebar .calendar td>div {
	border-radius: 4px;
	border: 1px solid #d8dbe1;
	margin: 3px;
	display: block;
}

.mac #sidebar .calendar td>div {
	padding-top: 4px;
}

#sidebar .calendar .tooltip {
	position: relative;
	z-index: 2;
}

#sidebar .calendar .tooltip .holder {
	display: none;
	position: absolute;
	top: -72px;
	left: -382px;
	border-radius: 4px;
	background: #2b4167;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	width: 375px;
	padding: 14px 20px 13px 20px;
	font-weight: normal;
}

#sidebar .calendar .tooltip .holder:after {
	position: absolute;
	top: 91px;
	right: -4px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #2c4167;
}

#sidebar .calendar .tooltip h4 {
	font-weight: bold;
	padding-bottom: 10px;
}

#sidebar .calendar .tooltip .info-line {
	color: #899ec4;
	padding-bottom: 9px;
}

#sidebar .calendar .tooltip .time {
	padding: 0 29px 0 23px;
	background: url(../images/ico_time_2.png) no-repeat 0 3px;
	display: inline-block;
}

#sidebar .calendar .tooltip .place {
	padding: 0 20px 0 22px;
	background: url(../images/ico_place_2.png) no-repeat 0 3px;
	display: inline-block;
}

#sidebar .calendar .note {
	padding: 37px 0 0 0;
}

#sidebar .calendar .note p {
	position: relative;
	padding-left: 34px;
	padding-right: 44px;
	float: left;
}

#sidebar .calendar .note p:after {
	position: absolute;
	background: #008bc4;
	content: "";
	height: 22px;
	width: 22px;
	display: block;
	border: 4px solid #fff;
	box-shadow: 0 0 0 1px #d8dbe1;
	top: 5px;
	left: 1px;
	border-radius: 4px;
}

#sidebar .calendar .note .archival-note:after {
	background: #ced0d5;
}

#sidebar .list ul {
	margin-right: -25px;
}

#sidebar .list li {
	float: left;
	padding: 0 19px 19px 0;
}

#sidebar .list li img {
	border-radius: 6px;
}

#sidebar .list .btn {
	padding: 0 26px;
}

#sidebar .btn-holder {
	padding-top: 4px;
}

/*------------------------- Body ------------------------*/

#body {
	margin:0 auto 97px;
	min-height:1005px;
	padding:38px 29px 0;
	width:902px;
}
#body.home .blog {
	overflow:hidden;
}

#body.home .blog div {
	float:right;
	padding:5px 0 0;
	width:430px;
}

#body.home .blog div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.1em;
	line-height:24px;
	margin-bottom:3px;
	text-align:left;
	text-indent:110px;
}
#body.home .blog div p {
	margin:0;
	text-align:right;
}
#body.home .article {
	margin:63px 0 0;
	overflow:hidden;
}
#body.home .article div {
	float:left;
	padding:0 0 0 25px;
	width:465px;
}
#body.home .article div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.1em;
	line-height:24px;
	margin:6px 0 3px;
	text-align:left;
}
#body.home .article div p {
	margin:0;
	text-align:left;
}
#body.home .article div p .a {
	margin:0 0 24px;
	text-align:left;
}
#body.home .news {
	overflow:hidden;
	padding:37px 0 0;
}
#body.home .news > img {
	display:block;
	float:left;
	margin:0 0 0 80px;
}
#body.home .news div {
	float:right;
	padding:25px 0 0;
	width:430px;
}
#body.home .news div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.1em;
	line-height:24px;
	margin:6px 0 3px;
	text-align:right;
}
#body.home .news div p {
	margin:0;
	text-align:right;
}
#body.home .blog div h3 a, #body.home .article div h3 a, #body.home .news div h3 a{
	color:#1bb5ac;
	text-decoration:none;
}
#body.home .blog div h3 a:hover, #body.home .article div h3 a:hover, #body.home .news div h3 a:hover{
	text-decoration:underline;
}





/* Content
------------------------------------------------------------------------------*/

#content {
	float: right;
	width: 760px;
}


/* Footer
------------------------------------------------------------------------------*/

#footer {
	position: relative !important;
	clear: both;
	background: #2c4167 url(../images/bg_white_arrow.png) no-repeat 50% 0;
	overflow: hidden;
	padding: 91px 0 0 0;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

#footer article {
	float: left;
	width: 25%;
	padding: 0 15px;
}

#footer h3 {
	color: #fff;
	font-size: 48px;
	font-family: 'BebasNeue';
	line-height: 52px;
	display: block;
	padding-bottom: 37px;
	font-weight: 300;
}

#footer a {
	color: #fff;
}

#footer .col-1 li {
	border-bottom: 1px solid #3c5177;
	padding-top: 1px;
	padding-bottom: 16px;
	margin-bottom: 20px;
}

#footer .col-1 li a {
	padding-left: 52px;
	display: block;
	position: relative;
}

#footer .col-1 li a:after {
	background: url(../images/ico_contacts.png) no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 4px;
	left: 0;
	content: "";
}

#footer .col-1 .mail {
	padding-bottom: 21px;
	margin-bottom: 25px;
}

#footer .col-1 .mail a:after {
	background: url(../images/ico_contacts.png) no-repeat 0 -32px;
	height: 22px;
	top: -1px;
}

#footer .col-1 .phone a:after {
	background: url(../images/ico_contacts.png) no-repeat 0 -54px;
	height: 32px;
	top: -6px;
}

#footer .last {
	border: none !important;
}

#footer .col-2 li {
	border-bottom: 1px solid #3c5177;
	padding-bottom: 9px;
	margin-bottom: 9px;
}

#footer .col-2 li a {
	padding-left: 20px;
	background: url(../images/bg_arrow_blue.png) no-repeat 0 50%;
}

#footer .col-2 li.last{
	margin-bottom: 0;
}

#footer article p {
	padding-bottom: 17px;
}

#footer .col-3 li {
	padding: 0 10px 10px 0;
	float: left;
}

#footer .col-3 li a {
	background: #8ed3ef;
	display: block;
	width: 119px;
	height: 35px;
	line-height: 35px;
	color: #46788d;
	font-size: 14px;
	border-radius: 4px;
	padding-left: 35px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#footer .col-3 li a:after {
	background: #81c6e2 url(../images/ico_social.png) no-repeat 9px 8px;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 35px;
}

#footer .col-3 .google-plus a:after {
	background-position: -26px 8px;
}

#footer .col-3 .twitter a:after {
	background-position: 9px -27px;
}

#footer .col-3 .pinterest a:after {
	background-position: -26px -27px;
}

#footer input {
	border-radius: 4px;
	background-color: #1e2d49;
	height: 52px;
	padding: 16px 20px;
	width: 100%;
	color: #fff;
	border: none;
	font-size: 14px;
	margin-bottom: 10px;
}

#footer button {
	border-radius: 4px;
	background: #fff;
	height: 52px;
	line-height: 52px;
	padding: 0 20px;
	width: 100%;
	color: #7e8798;
	border: none;
	font-size: 16px;
	margin-bottom: 10px;
}

#footer input::-webkit-input-placeholder {
	color:#fff;
}
#footer input::-moz-placeholder {
	color:#fff;
}

#footer .copy {
	display: block;
	text-align: center;
	clear: both;
	color: #899ec4;
	padding: 34px 0 26px 0;
}





/* Fonts
------------------------------------------------------------------------------*/ 

@font-face {
	font-family: 'BebasNeue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBook.woff') format('woff'),
         url('../fonts/BebasNeueBook.ttf') format('truetype'),
         url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Media
------------------------------------------------------------------------------*/ 

@media screen and (max-width: 1220px) {

	.container {
		width: 100%;
	}

	#header {
		overflow: hidden;
		padding-bottom: 60px;
		margin-bottom: -40px;
	}
	
	#menu {
		margin: 0 -80px;
	}
	
	#menu li {
		padding: 0 10px;
	}
	
	
		
	#footer {
		padding: 50px 0 0 0;
	}
	
	#footer article {
		width: 50%;
		padding-bottom: 20px;
	}
	
	#footer article:nth-child(2n+1) {
		clear: left;
	}
	
	#footer h3 {
		font-size: 40px;
		line-height: 44px;
		padding-bottom: 30px;
	}
		
	#footer .copy {
		padding: 20px 15px 15px 15px;
	}
	
	#sidebar {
		width: 40%;
	}

	.slider-con .slide li {
		width: 33.33%;
	}
	
	.slider-con .slide li img {
		width: 100%;
	}
	
	#sidebar .sidemenu a {
		font-size: 20px;
	}
	
}

@media screen and (min-width: 701px) {

	#menu {
		display: block !important;
	}
	
}



@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
	#logo {
		background-image: url(../images/logo@2x.png);
		background-size: 121px 134px;
	}

	#footer .col-1 li a:after {
		background-image: url(../images/ico_contacts@2x.png) !important;
		background-size: 32px 86px !important;
	}

	#footer .col-2 li a {
		background-image: url(../images/bg_arrow_blue_dark@2x.png);
		background-size: 10px 7px;
	}

	#footer .col-3 li a:after {
		background-image: url(../images/ico_social@2x.png) !important;
		background-size: 52px 53px !important;
	}
	
	#footer {
		background-image: url(../images/bg_white_arrow@2x.png);
		background-size: 117px 30px;
	}

	.divider {
		background-image: url(../images/bg_white_arrow@2x.png);
		background-size: 117px 30px;
	}
	
	.divider:after {
		background-image: url(../images/bg_white@2x.png);
		background-size: 1920px 30px;
	}	

	.menu-trigger {
		background-image: url(../images/bg_menu_trigger@2x.png) !important;
		background-size: 30px 30px !important;
	}
	
}

@media screen and (max-width: 1000px) {
	.widget.list .btn-holder{
		text-align: left;
	}
}

@media screen and (max-width: 768px) {
	#footer{
		padding-top: 60px;
	}
}

@media screen and (max-width: 700px) {

	body {
		min-width: 320px;
	}

	#header {
		padding-bottom: 0;
		margin-bottom: -20px;
	}
	
	#logo {
		width: 90px;
		height: 100px;
		margin: 0 auto;
		background-size: 90px 100px;
	}

	.menu-trigger {
		background: url(../images/bg_menu_trigger.png) no-repeat;
		height: 30px;
		width: 30px;
		display: block;
		position: absolute;
		top: 15px;
		right: 10px;
		cursor: pointer;
	}

	#menu {
		display: none;
		clear: both;
		margin: 0;
		padding-bottom: 35px;
		padding-left: 15px;
		overflow: hidden;
	}
	
	#menu ul {
		padding: 0;
		float: left;
		clear: left;
	}
	
	#menu li {
		padding: 0 10px;
		display: block;
		float: left;
		clear: left;
	}
		
	#footer article {
		width: 100%;
	}
	
	#footer h3 {
		font-size: 34px;
		line-height: 34px;
		padding-bottom: 20px;
	}

	
	.main-content,
	#sidebar {
		width: 100%;
	}

	#sidebar .calendar {
		position: relative;
	}
	
	#sidebar .calendar .tooltip {
		position: static;
	}
	
	#sidebar .calendar .tooltip .holder {
		top: 430px;
		right: 0;
		left: 0;
		width: auto;
		z-index: 99;
	}

	#sidebar .calendar .tooltip .holder:after {
		display: none;
	}

	#sidebar .sidemenu {
		padding-top: 0;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
		#logo {
			background-image: url(../images/logo3.png);
			background-size: 90px 100px;
		}
	}
}

@media screen and (max-width: 480px) {
	#footer article{
		padding-bottom: 30px;
	}
}